<h1>Valient effort {{character.character_name}}</h1>
<p>If you dare to test yourself against {{enemy.character_name}} again, select below.</p>
<a href="/battle" id="charSelectButton">Commence Battle</a>
<p>If you have left everything on the battle field, exit here.</p>
<a href="/home" id="exitGameButton">Home</a>


