<header id="battle-header">
  <h1 id="choose-attack">Choose your attack...</h1>
</header>
<main class="container" id="battle-field">
  <section class="player" id="user">
    <div id="charCard">

    </div>
    <div id="attacks">
      <button id="attack1">Attack1</button>
      <button id="attack2">Attack2</button>
      <button id="attack3">Attack3</button>
    </div>
    <div id="charHP">
    </div>
  </section>
  <section id="attackResult">

  </section>
  <section class="player" id="boss">

  </section>
  <input type="hidden" id="stats" name="stats" value="">

</main>
<script type="text/javascript" src="/js/battleAnimation.js"></script>
<script type="text/javascript" src="/js/battleMechanics2.js"></script>