  {{!-- need to pull pull in javascript for functionality --}}
  {{!-- need to finalize which data needs to be pulled in from db, i.e. attacks --}}
  
  <header>
    <h1>Choose your attack...</h1>
  </header>
  <main class="container">
    <section class="player" id="user">
      <div>
      <h2>user-name</h2>
      <div class=" animate__animated">
          <img class="player-pic" src="placeHolder.png">
        </div>
      </div>
      <div id="attacks">
        <button id="attack1">Attack1</button>
        <button id="attack2">Attack2</button>
        <button id="attack3">Attack3</button>
      </div>
      <div id="charHP">
        {{character.hp}}
      </div>
    </section>
    <section class="is-align-items-end">
      <div class="animate__animated animate__zoomIn" id="alert">User attacked, boss loss 25 hp</div>
    </section>
    <section class="player" id="boss">
      <div>
      <h2>boss-name</h2>
      <div class=" animate__animated">
          <img class="player-pic" src="placeHolder.png">
        </div>
      </div>
      <div id="enemyHP">
        HP available: 100
      </div>
    </section>
  </main>