<h1>Create your character.</h1>
<p>Character name.</p>
<div class="control" id="character-name">
  <input class="input" type="text" placeholder="Character name">
</div>
<p>Character class.</p>
<div class="control">
  <div class="select">
    <select id="character-class" ariel-placeholder="Select Class">
      <option>Select Class</option>
      <option>Hunter</option>
      <option>Beast</option>
      <option>Mage</option>
    </select>
  </div>
</div>
<div class="control">
  <button class="button is-primary">Submit</button>
</div>