<h1>{{user.id}} Create your character</h1>
<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="box char-box">
      <div class="field">
        <label class="label char-label">Character name: </label>
        <div class="control char-field" id="character-name">
          <input id="charName" class="input" type="text" placeholder="Character name">
        </div>
      </div>
      <div class="field">
        <label class="label char-label">Character class: </label>
        <div class="control">
          <div class="select char-field">
            <select id="character-class">
              <option>Select Class</option>
              <option>Hunter</option>
              <option>Beast</option>
              <option>Mage</option>
            </select>
          </div>
        </div>
      </div>
      <div class="control">
        <button id="charButton" class="button create-btn char-btn char-field">Submit</button>
      </div>
    </div>
  </div>
</div>
<script src="/js/character.js"></script>