<h2>Valient effort but the gods continue to reign</h2>
<p>If you dare to test yourself again, create a new warrior below.</p>
<a href="/characterselect" id="charSelectButton">Create New Character</a>
<p>If you have left everything on the battle field, exit here.</p>
<a href="/" id="exitGameButton">Home</a>


