<h2>Valient effort but the gods continue to reign</h2>
<div class="column is-half is-offset-one-quarter">
  <div class="block is-flex-direction-column" id="defeat-message">
    <div class="block">
        <p class="has-text-centered">If you dare to test yourself again, create a new warrior below.</p>
    </div>
    <div class="block" id="defeat-button">
      <a href="/characterselect" id="charSelectButton">Create New Character</a>
    </div>
    <div class="block">
        <p class="has-text-centered">If you have left everything on the battle field, exit here.</p>
    </div>
    <div class="block has-text-centered">
      <a href="/" id="exitGameButton">Home</a>
    </div>
  </div>
</div>
</div>