{{#if loggedIn}}
  <div class="buttons">
    <a href="/characterselect">Start Your Journey</a>
    {{!-- Add path to get to character selection href="/firstlevel" --}}
  </div>
{{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign-Up</a>
{{/if}}
  {{!-- Add Image --}}
<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <img src="/images/mspiske.jpg" alt="Marcus Spiske image of Walhalla">
    <p class="title" id="game-description">Battle the Gods in this legendary RPG. Sign-Up, choose your character, and engage in an epic battle!
    Use your character's strengths and a combination of attacks to further your score.  Are you ready for glory?!
    </p>
  </div>
</section>