{{#if loggedIn}}
  <div class="buttons">
    <button class="button is-danger is-large">Start Your Journey</button>
    {{!-- Add path to get to character selection href="/firstlevel" --}}
  </div>
{{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign-Up</a>
{{/if}}
  {{!-- Add Image --}}
  <p id="game-description">Battle the Gods in this legendary RPG. Sign-Up, choose your character, and engage in an epic battle!
    Use your character's strengths and a combination of attacks to further your score.  Are you ready for glory?!
  </p>