<h1>Leaderboard</h1>
<div class="column">
    <div class="card leader">
        <div class="card-content ">
            <div class="content">

                <table class="table is-striped">
                    <tr>
                        <th>User</th>
                        <th>Score</th>
                    </tr>
                    {{#each leaderArray}}
                    <tr>
                        <td>{{this.[0]}}</td>
                        <td>{{this.[1]}}</td>

                    </tr>
                    {{!-- <tr> --}}

                        {{!-- </tr> --}}
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>




{{!-- <h1>Leaderboard</h1>
<div class="column">
    <div class="card leader">
        <div class="card-content ">
            <div class="content">
                <table class="table is-striped">
                    <th>User</th>
                    <th>Score</th>
                    <ol>
                        {{#each leaderArray}}
                        <li class="">{{this.[0]}} -
                            <tr>{{this.[1]}}</tr>
                        </li>

                        {{/each}}
                    </ol>
                </table>

            </div>
        </div>
    </div>
</div> --}}