<h1>Leaderboard</h1>
<div class="card">
    <div class="card-content">
        <div class="content">
            <div>User | Score</div>
            {{#each leaderArray}}
            <div class="">{{this.[0]}} - {{this.[1]}}</div>

            {{/each}}
        </div>
    </div>
</div>