<h1>Leaderboard</h1>
<div class="column">
    <div class="card leader">
        <div class="card-content ">
            <div class="content">
                <div>User | Score</div>
                <table class="table is-striped">
                    <th>User</th>
                    <th>Score</th>
                    <ol>
                        {{#each leaderArray}}
                        <li class="">{{this.[0]}} - {{this.[1]}}</li>

                        {{/each}}
                    </ol>
                </table>

            </div>
        </div>
    </div>
</div>
{{!-- <table class="table is-striped">
    <th>User</th>
    <th>Score</th>
    <ol>
        {{#each leaderArray}}
        <li class="">{{this.[0]}} - {{this.[1]}}</li>

        {{/each}}
    </ol>
</table> --}}