<div class="columns">
  <div class="column is-4 is-offset-2">
    <div class="box">
      <form class="form login-form">
        <h3 class="log-header">Login</h3>
        <div class="form-group">
          <label for="email-login"></i>email:</label>
          <div class="control">
              <input class="form-input input is-normal" type="text" id="email-login" placeholder="email@email.com"/>
          </div>
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <div class="control">
            <input class="form-input input is-normal" type="password" id="password-login" placeholder="not123"/>
          </div>
        </div>
        <div class="form-group">
          <button class="button log-btn is-normal" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>

  <div class="column is-4">
    <div class="box">
      <form class="form signup-form">
        <h3 class="log-header">Signup</h3>
        <div class="form-group">
          <label for="name-signup">name:</label>
          <div class="control">
            <input class="form-input input is-normal" type="text" id="username-signup" placeholder="name"/>
          </div>
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <div class="control">
            <input class="form-input input is-normal" type="text" id="email-signup" placeholder="email@email.com" />
          </div>
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <div class="control">
            <input class="form-input input is-normal" type="password" id="password-signup" placeholder="Minimum 8" />
          </div>
        </div>
        <div class="form-group">
          <button class="button log-btn is-normal" type="submit">Sign-Up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>